:root{
    --color-04074F:#04074F;
    --color-fff:#fff;
    --color-0031DE:#0031DE;
    --color-FFE200: #FFE200;
    --color-FF852D: #FF852D;
    --color-000054: #000054;
    --color-FCFCFC: #FCFCFC;
    --color-323232: #323232;
    --color-242424: #242424;
    --color-EA4335: #EA4335;
    --color-4568B1: #4568B1;
    --color-000000: #000000;
    --color-0077B5: #0077B5;
    --color-F1F2F7: #F1F2F7;
    --color-AFAFAF: #AFAFAF;
    --color-ABABAB: #ABABAB;


}